{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BookBus</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Business Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->

	<!-- css files -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'css/style_login.css' %}" rel="stylesheet" type="text/css" media="all"/>
	<!-- //css files -->

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->

</head>
{% if submit == 'False' %}
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Change The Password</h2>
				<p>Enter your new password.</p>
				<form action="http://127.0.0.1:8000/change-password/" method="post">{% csrf_token %}
					<label>Email Address</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="email" placeholder="Enter Your Email" name = 'username' required="">
					</div>
                    <label>Current Password</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="password" placeholder="Enter Your Current Password" name = 'old_password' required="">
					</div>
                    <label>New Password</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="password" placeholder="Enter Your New Password" name = 'new_password' required="">
					</div>
                    <button class="btn btn-danger btn-block" type="submit">Submit</button >
				</form>
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; 2023 All Rights Reserved | Design by <a href="http://127.0.0.1:8000/" target="blank">BookBus</a></p>
	</div>
	<!-- footer -->
</div>

</body>
{% else %}
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>New Password Has Been Set</h2>
				<p>Check your mailbox.</p>
                <a href = 'http://127.0.0.1:8000/'><button class="btn btn-danger btn-block" type="submit">Go Back To Home Page</button ></a>
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; 2023 All Rights Reserved | Design by <a href="http://127.0.0.1:8000/" target="blank">BookBus</a></p>
	</div>
	<!-- footer -->
</div>

</body>
{% endif %}
</html>