{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>404 Error a Flat Responsive Widget Template :: bookbus</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="404 Error Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- /css files -->
<body>
<div class="agileits-main">
	<a href="#"><h1><span>404</span>BookBus</h1></a>
	<div class="w3ls-container text-center">
		<div class="w3layouts-image text-center">
			<img src="{% static '/images/e404.png' %}" alt="" />
			<h2 class="header-w3ls">404</h2>
		</div>	
		<h3 class="img-txt">Oops, you've encountered an error!</h3>
		<p>Looks like the page you are  trying to visit doesn't exist.</p>
		<div class="agileits-link">
			<a href="http://127.0.0.1:8000/">take me home</a>
		</div>	
	</div>
	<div class="w3ls-footer">
		<p> &copy; 2023 404 Error. All Rights Reserved | Design by <a href="http://127.0.0.1:8000" target="=_blank">BookBus</a></p>
	</div>

</div>
</body>
</html>