{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>BookBus</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static 'css/style_login.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/style_bus_form.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
   <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<!-- //Fonts -->

</head>
{% if username == '' %}
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Login To Your Account</h2>
				<p>Enter your details to login.</p>
				<form action="http://127.0.0.1:8000/login/" method="post">{% csrf_token %}
					<label>Email Address</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="email" placeholder="Enter Your Email" name = 'username' required="">
					</div>
					<label>Password</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="Password" placeholder="Enter Password" name = 'password' required="">
					</div>
						<button class="btn btn-danger btn-block" type="submit">Login</button >
				</form>
				<p class="account1">Don't have an account? <a href="http://127.0.0.1:8000/form-register/">Register here</a></p>
                <p class="account1">Don't remember your password? <a href="http://127.0.0.1:8000/form-forgot-password/">Forgot Password</a></p>
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; 2023 All Rights Reserved | Design by <a href="http://127.0.0.1:8000/" target="blank">BookBus</a></p>
	</div>
	<!-- footer -->
</div>

</body>
{% else %}
<body>
    <!-- mian-content -->
    <section class="main-content" id="home">
        <!-- /header -->
        <header>
            <div class="container-fluid px-lg-5 px-3">
                <!-- nav -->
                <nav class="py-2 d-lg-flex">
                    <div id="logo">
                        <h1><a class="navbar-brand logo" href="http://127.0.0.1:8000/">
                                 <img src="{% static 'images/bus_logo.jpg' %}" style="width: 140px;height: 95px">
                                <span style="color: #ff4040" class="logo-span">Book Bus</span>
                            </a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu ml-auto">
                        <li class="active"><a href="http://127.0.0.1:8000/form-search-bus">Search Bus</a></li>
                        <li><a href="http://127.0.0.1:8000/form-change-password">Change Password</a></li>
                        <li><a href="http://127.0.0.1:8000/logout">Logout</a></li>
                    </ul>

                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->
    </section>
    <div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Book Bus</h1>
					<p>Book Bus is developed with the idea of integrating the various components involved in bus ticket booking. It aims to bring together travelers, transporters and various travel agents.</p>
					<img src="{% static 'images/bus_logo.jpg' %}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Search the Bus</h2>
				<p>Put filters in place and go below to see the buses</p>
				<form action="http://127.0.0.1:8000/search-bus/" method="post">{% csrf_token %}
        <label>Name</label>
        <div class="input-group">
            <span class="fa fa-birthday-cake" aria-hidden="true"></span>
            <input type="text" placeholder="Enter Name of the Bus" name = 'name'>
        </div>
        <label>Source</label>
        <div class="input-group">
            <span class="fa fa-map-signs" aria-hidden="true"></span>
            <input type="text" placeholder="Enter Source" name = 'source'>
        </div>
        <label>Destination</label>
        <div class="input-group">
            <span class="fa fa-map-marker" aria-hidden="true"></span>
            <input type="text" placeholder="Enter Destination" name = 'destination'>
        </div>
        <label>Time</label>
        <div class="input-group">
            <span class="fa fa-clock-o" aria-hidden="true"></span>
            <input type="time" placeholder="Enter Arrival Time" name = 'time'>
        </div>
        <button class="btn btn-danger btn-block" type="submit">Search</button >
    </form>
			</div>
		</div>
		<!-- //main content -->
	</div>

    <!-- blog -->
    <section class="blog_hcls_w3layouts py-lg-5 py-md-4" id="posts">
        <div class="container py-sm-5 py-4">
            <div class="header py-lg-5 py-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3">Buses</h3>
            </div>
            <div class="row mt-4">
                <!-- blog grid -->
                {% for b in bus %}
                <div class="col-lg-6  mt-lg-5 mt-4 mx-auto">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="http://127.0.0.1:8000/seat">
                                <img class="card-img-bottom " src="images/1.jpg" alt="Card image cap">
                                
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="blog-title card-title font-weight-bold">
                                <a href="http://127.0.0.1:8000/seat">{{ b.name }}</a>
                            </h5>
                            <p>{{ b.description }}</p>
                            <div class="blog-user-info d-flex my-3">
                                <label class="mx-3"> <span class="fa fa-home mr-1"></span>{{ b.source }}</label>
                                <label class="mx-3"> <span class="fa fa-thumbs-up mr-1"></span>{{ b.destination }}</label>
                                <label class="mx-3"> <span class="fa fa-clock-o mr-1"></span>{{ b.time }}</label>
                                <label class="mx-3"> <span class="fa fa-sort-numeric-asc mr-1"></span>{{ b.available_seats }}</label>
                                <label class="mx-3"> <span class="fa fa-question mr-1"></span>{% if b.availability == 'N' %}Not available{% else %}Available{% endif %}</label>
                            </div>
                            <a href="http://127.0.0.1:8000/seat/{{ b.bus_id }}" class="btn blog-btn h_care-bnr-btn">
                                Select the Seat
                           </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- //blog grid -->
                <!-- pop-blog -->
                <!-- //pop-blog -->
            </div>
        </div>
    </section>
    <!-- //blog -->
  
    
    <!-- footer -->
 
    <!-- footer -->
</body>
{% endif %}
</html>
