{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="BookBus">
    <title>Seat</title>
    <script language="javascript">
        count = 0;
        function setSeat() {
            var text_box = document.getElementById("seat_data");
            text_box.value = "";
            var tbl = document.getElementById("seat_table");
            if (tbl != null) {
                for (var i = 1, row; row = tbl.rows[i]; i++) {
                   for (var j = 1, col; col = row.cells[j]; j++) {
                     col.setAttribute("style","background-color:red;");
                     col.onclick = null;
                   }
                }
                {% for seat in seats %}
                    tbl.rows[{{ seat.seat_row }}].cells[{{ seat.seat_col }}].setAttribute("name","{{ seat.seat_row }}-{{ seat.seat_col }}");
                    tbl.rows[{{ seat.seat_row }}].cells[{{ seat.seat_col }}].setAttribute("value","F");
                    {% if seat.seat_status == 'A' %}
                        tbl.rows[{{ seat.seat_row }}].cells[{{ seat.seat_col }}].setAttribute("style","background-color:green;");
                        tbl.rows[{{ seat.seat_row }}].cells[{{ seat.seat_col }}].onclick = function () {
                            seat_cell(this);
                        };
                    {% elif seat.seat_status == 'N' %}
                        tbl.rows[{{ seat.seat_row }}].cells[{{ seat.seat_col }}].setAttribute("style","background-color:gray;");
                        tbl.rows[{{ seat.seat_row }}].cells[{{ seat.seat_col }}].onclick = null;
                    {% endif %}
                {% endfor %}
            }
        }

        function seat_cell(cell) {
            var text_box = document.getElementById("seat_data");
            var cell_name = cell.getAttribute("name");
            var pill_ul = document.getElementById("seat-pill");
            if(cell.getAttribute("value") === "F"){
                seatAdd(cell,text_box,cell_name);
                var pill = document.createElement("button");
                pill.setAttribute("type","button");
                pill.onclick = function () {
                    seatRemove(cell,text_box,cell_name);
                    this.remove();
                };
                pill.setAttribute("name",cell_name);
                pill.setAttribute("class","pill-close btn btn-success");
                pill.innerHTML = cell_name + "<span class=\"span-cross\" aria-hidden=\"true\">&times;</span>";
                pill_ul.appendChild(pill);
            }
            else if(cell.getAttribute("value") === "T"){
                seatRemove(cell,text_box,cell_name);
                for (var itemi =0;itemi < pill_ul.children.length;itemi++) {
                    var item = pill_ul.children[itemi];
                    pill_name = item.getAttribute("name");
                    if (pill_name === cell_name) {
                        item.remove();
                    }
                }
            }

        }
        function seatAdd(cell,text_box,cell_name){
            cell.setAttribute("style","background-color:blue;");
            cell.setAttribute("value","T");
            text_box.value = text_box.value + cell_name + " ";
            count++;

            disableStuff();
        }
        function seatRemove(cell,text_box,cell_name) {
            cell.setAttribute("style","background-color:green;");
            cell.setAttribute("value","F");
            seat_value = text_box.value.split(" ");
            seat_value = seat_value.filter(function (value) {
                return value !== cell_name;
            });
            text_box.value = seat_value.join(" ");
            count--;
            disableStuff();
        }
        function disableStuff(){
            var bookbtn = document.getElementById("book_seat");
            var seat_div = document.getElementById("seat_div");
            if(count <= 0 ){
                bookbtn.setAttribute("disabled","disabled");
            }else{
                bookbtn.removeAttribute("disabled");
            }
        }

    </script>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/style_login.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- //css files -->
	<link rel="stylesheet" href="{% static 'css/style_bus_form.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 7px;
        }
        table {
            margin: 35px 0;
        }
        .pill-close {
            border-radius: 10px;
            margin: 2px 4px;
            padding: 1px 10px;
        }
        .span-cross {
            margin-left: 10px;
        }
    </style>
</head>

<body onload="setSeat()">
    <div class="signupform container">
        <div class="container-fluid">
            <h1>{{ bus.name }}</h1>
            <br>
            <div style="font-size: 18px">
                <p>{{ bus.description }}</p>
                <p>From: {{ bus.source }}  To: {{ bus.destination }}</p>
                <p><strong>Remaining seats: {{ bus.available_seats }}</strong></p>
            </div>
        </div>
        <div class="container-fluid">
            <h3>Choose Your Seats</h3>
{#            <br>#}

            <table id="seat_table">
                <tr>
                    <th></th>
                    {% for i in col %}
                        <th>C-{{ i }}</th>
                    {% endfor %}
                </tr>
                {% for j in row %}
                    <tr>
                        <td>R-{{ j }}</td>
                        {% for i in col %}
                            <td style="background-color: green;"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="container-fluid">
            <form id="seat_form" name = "form" action = "http://127.0.0.1:8000/transaction/{{ bus.bus_id }}" method = "get" >{% csrf_token %}
		    <!-- <div class="" style = "max-width:470px;display: none" id="seat_div"> -->
                    <input id="seat_data" type = "text" style = "margin-left:0%; border:0.1px solid black;"  name = "seat_data" />
		    <!-- </div> -->
                <ul id="seat-pill" class="list-inline"></ul>
                <br>
                 <div style = "max-width:470px;">
                       <button style = "" type = "submit" value = "Seat" id="book_seat" class="btn" >
                          <strong>Book</strong>
                       </button>
                 </div>
              </form>
        </div>
    </div>
</body>
</html>
